{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
   {% endblock %}
{% block content %}
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="pages.php" class="navbar-brand" style="font-size:17pt;">
                    Administrateur
                </a> 
            </div>
            <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;"> 
              <a href="deconnexion.php" class="btn btn-danger square-btn-adjust">Deconnexion</a> 
            </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
                   {% include 'FrontBundle::nav.html.twig' %}
                    
                </nav>  
        <!-- /. NAV SIDE  -->


        <div id="page-wrapper" >
            <div id="page-inner">
                
                
                 
                 <div class="row">
                     <div class="col-md-12">
                         {% block contenu %}
                        
                        contenu  
                            {% endblock %}
                     </div>
                     
                 </div>
               
             </div>
             <!-- /. PAGE INNER  -->
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}