
                        <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                        <li class="text-center">
                            <img src="{{ asset('bundles/front/images/find_user.png') }}" class="user-image img-responsive"/>
                            </li>
				
		     <!-- Programmation  des UE -->           
                    <li>
                        <a href="#" class=""><i class="fa fa-edit fa-3x"></i>Programmation<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/gbprojet/web/app_dev.php/programmation/licence-1">Licence 1</a>
                            </li>
                            <li>
                                <a href="/gbprojet/web/app_dev.php/programmation/licence-2">Licence 2</a>
                            </li>
                            <li>
                                <a href="/gbprojet/web/app_dev.php/programmation/licence-3">Licence 3</a>
                            </li>
                            <li>
                                <a href="/gbprojet/web/app_dev.php/programmation/master-1">Master 1</a>
                            </li>
                            <li>
                                <a href="/gbprojet/web/app_dev.php/programmation/master-2">Master 2</a>
                            </li>
                        </ul>
                      </li>  
                       <!-- Programmation des UE -->    
                        <!-- Disponiblilite des salles -->
                       <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Disponibilites des salles<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/gbprojet/web/app_dev.php/disponibilite/monufr">Dans mon UFR</a></li>
                            <li><a href="/gbprojet/web/app_dev.php/disponibilite/autresufr">Dans une autre UFR</a></li>    
                        </ul>
                      </li>
                        <!-- //Disponiblilite des salles -->       	
                </ul>
               
            </div>
